fastapi
uvicorn[standard]
asyncpg
python-dotenv
pydantic
httpx
pytest
passlib
python-jose
python-multipart
prometheus_client
langchain-community
langchain-huggingface
chromadb
sentence-transformers
google-generativeai
google-cloud-texttospeech
google-cloud-speech
webrtcvad
